{{!< layout}}
<header>
  <div >
      <h1>Test-Page</h1>

      <p class="subtitle"><h2>This is my new general Testpage: {{title}}</h2></p>
  </div>
</header>

<body>
	<div>
		<p>
			This is a Test-Page to see if the thing with the routes work like I think they do. </br>
			{{title}}
		</p>
	</div>
</body>
