<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: atlassianConnectResources}">
    <title>Atlassian Connect</title>
</head>
<body class="aui-page-hybrid">
<section id="content" role="main">

    <header>
        <div >
            <h1>Spring Test-Page</h1>

            <p class="subtitle"><h2 th:text="'This is my new general Testpage:'+ ${title}"></h2></p>
        </div>
    </header>

    <body>
    <div>
        <p>
            This is a Test-Page to see if the thing with the routes work like I think they do. </br>
            <span th:text="${title}"></span>
        </p>
    </div>
    </body>

</section>
</body>
</html>





