<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: atlassianConnectResources}">
    <meta charset="UTF-8">
    <title>DateTimeMacro</title>
</head>
<body class="aui-page-hybrid">
<section id="content" role="main">

    <p>
        This world is <b th:text="${thisWorld}"> thisWorld</b> </br>
        I want to greet <b th:text="${personName}">personName</b> from my Page with the Pagetitle <b th:text="${pageTitle}">pageTitle</b>
    </p>

</section>
</body>
</html>